figure {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  font-size: 3.5rem;
  color: rgb(23, 28, 34);
  background: rgb(22, 81, 243);
    background: linear-gradient(149deg, rgb(62, 175, 216) 0%, rgb(229, 231, 243) 65%);
  border-radius: 50%;
  margin: 2rem auto;
}

figure span {
  text-align: center;
}

div.unauthorized {
  text-align: center;
}

div.unauthorized span{
  display: inline-block;
}

div.unauthorized h1 {
  margin: 1.5rem 0; 
}